# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

node_modules/
npm-debug.log*
yarn-error.log*

Thumbs.db
.DS_Store

appsettings.Development.json
.env

appsettings.json