# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# Node / Frontend
node_modules/
npm-debug.log*
yarn-error.log*

# Operating System
Thumbs.db
.DS_Store

# Secrets and Environment
appsettings.Development.json
.env